.card {
  max-width: 25em;
  box-shadow: 0 0.25em 0.625em #888888;
  border-radius: 0.625em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(https://images.unsplash.com/photo-1496979551903-46e46589a88b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cda12b505afa1beb06e49d89014cbd65&auto=format&fit=crop&w=634&q=80)
    20% 1% / cover no-repeat;
}

.content {
  background-color: white;
  position: relative;
  border-radius: 0.625em;
}

.author {
  text-align: right;
  padding: 0.625em;
  margin: 0;
}

.abstract {
  padding: 0.625em 0.625em 0em 0.625em;
}

.headline {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    &:hover {
      opacity: 0.5;
    }
  }
}

.cardBottom {
  padding: 0;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 0 0 0.625em 0.625em;
}

.description {
  color: grey;
  // color: #d4d4d4;
}

.imageContainer {
  height: 20em;
}
