//text colour strengths BLACK
$light-text-1: #d0d0d0;
$light-text-2: #bebebe;
$light-text-3: #b0b0b0;
$medium-text-1: #909090;
$medium-text-2: #696969;
$medium-text-3: #505050;
$heavy-text-1: #202020;
$heavy-text-2: #101010;
$heavy-text-3: #000000;

//text colour strengths BLACK (2nd format, light is 1 and darkest is 9)
$black-1: #d0d0d0;
$black-2: #bebebe;
$black-3: #b0b0b0;
$black-4: #909090;
$black-5: #696969;
$black-6: #505050;
$black-7: #202020;
$black-8: #101010;
$black-9: #000000;

//font sizes

$small-font-1: 12px;
$small-font-2: 14px;
$small-font-3: 16px;
$medium-font-1: 18px;
$medium-font-2: 20px;
$medium-font-3: 24px;
$large-font-1: 32px;
$large-font-2: 48px;
$large-font-3: 64px;

//font sizes (2nd format, 1 smallest to 9 largest)

$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-5: 20px;
$font-size-6: 24px;
$font-size-7: 32px;
$font-size-8: 48px;
$font-size-9: 64px;

//font weight

$small-weight: 200;
$medium-weight: 400; //normal weight, if in doubt use this.
$semi-large-weight: 700;
$large-weight: 900;

//background-color
